html,body {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}


body {
  overflow-x: hidden;
}

.text-uppercase {
  margin-top: 6vh;
  text-align: center;
  line-height: 1.1;
  font-family: Arial, sans-serif;
  font-size: x-large;
  padding-bottom: 3vh;
}

.btn-custom {
  background-color: #003485;
  color: white;
  border-color: #003485;
}

.btn-custom:hover {
  background-color: #011e46;
  border-color: #002860;
  color: white;
}


.custom-navbar {
  background-color: #003485;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #ffffff;
}

.custom-navbar .nav-link:hover {
  color: #dbe6ff;
}


.nav-logo {
  height: 40px; /* Adjust based on your nav height */
  width: auto;  /* Maintains aspect ratio */
  display: block;
}